.todo-text {
  flex: 1;
  text-align: left;
  margin-right: 10px; /* Abstand zwischen Text und Checkbox */
}

.me-2 {
  margin-right: 10px; /* Abstand zwischen Checkbox und Buttons */
}

.me-3 {
  margin-right: 15px; /* Abstand zwischen Checkbox und Text */
}

.custom-change-btn {
  background-color: #ff8c00;
  border-color: #ff8c00;
}

.custom-change-btn:hover {
  background-color: #e07b00;
  border-color: #e07b00;
}

.align-self-start {
  align-self: start;
}
